@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Setup snippet end */

.App{
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
}

h2{
  color: #232323;
}

h3{
  color: #292929;
  font-size: 1.5rem;
}

p{
  line-height: 22px;
  color: #434343;
  margin: 10px 0;
}

a{
  text-decoration: none;
}

a:hover,
a:focus{
  color: #666666;
}

img{
  width: 100%;
  height: 100%
}

ul{
  list-style: none;
  padding: 0;
}

.wrapper{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  font-family: 'Roboto Mono', monospace;
}

header img{
  width: 50px;
  margin-right: 10px;
}

header div{
  display: flex;
  align-items: center;
}

header a{
  color: inherit;
}

nav div{
  cursor: pointer;
}

nav ul{
  display: flex;
  margin: 0;
  align-items: center;
}

nav li{
  margin-left: 40px;
}

.mobileMenu{
  display: none;
  border: none;
}

main .wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}

.headlines{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-top: 25px;
}

main li{
  margin-bottom: 40px;
}

li a:hover h3,
li a:focus h3{
  color: #434343;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

button{
  padding: 10px 12px;
  background: none;
  cursor: pointer;
  border: #292929 1px solid;
  color: #292929;
  font-family: 'Roboto Mono', monospace;
}

button:hover,
button:focus{
  color: #666666;
  border-color: #666666;
}

.filterMenu{
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 115px;
  display: flex;
}

.clearFilter{
  border: none;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 120px;
  cursor: pointer;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 12px;
  background-color: white;
  font-family: 'FontAwesome', 'Roboto Mono', monospace;
  border: #292929 1px solid;
  margin-left: 6px;
  cursor: pointer;
}

.mainImageContainer{
  position: relative;
}

.half{
  flex-basis: 48%;
}

.full{
  flex-basis: 100%;
}

.half img{
  height: 350px;
}

.full img{
  height: 500px;
}

.category{
  writing-mode: vertical-lr;
  color: white;
  padding: 8px 10px;
  position: absolute;
  top:-20px;
  left: 20px;
  font-family: 'Roboto Mono', monospace;
}

.pageButtons{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 25px;
}

footer{
  border-top: #afafaf 1px solid;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  color: #afafaf;
}

footer p{
  margin: 30px 0 0 0;
}

.twitter{
  background-color: #1DA1F2;
  padding: 5px 15px;
  color: white;
  border-radius: 15px;
}

.twitter:hover,
.twitter:focus{
  background-color: #65BEF6;
  color: white;
}

.bannerImage{
  height: 55vh;
  width: 100%;
  object-fit: cover;
}

.article .wrapper{
  width: 80%;
}

.article .category{
  left: -70px;
  top: -30px;
}

.article p,
strong{
  line-height: 2rem;
}

.articleInfo{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  color: #999999;
}

.articleInfo p{
  margin: 0;
  line-height: 1.5rem;
}

.authorImage{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.authorImage img{
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.title{
  font-size: 3rem;
  margin: 20px 0 80px 0;
}

h4{
  font-size: 1.4rem;
}

h5{
  font-size: 1.2rem;
}

h6{
  font-size: 1rem;
}

.postBody img{
  object-fit: contain;
  width: auto;
  max-width: 100%;
}

blockquote{
  font-size: 1.5rem;
  font-style: italic;
  border-left: 4px #EBEBEB solid;
  margin: 24px;
  padding-left: 16px;
  color: #292929;
}

.article ul{
  list-style: disc;
}

iframe{
  max-width: 100%;
}

table,
th,
td {
  border: 1px solid;
  padding: 10px
}

table{
  border-collapse: collapse;
  max-width: 100%;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper{
    width: 95%;
  }

  .mobileMenu{
    display: inline-block;
  }

  nav ul{
    display: none;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 10;
    left: 0;
    right:0;
    top: 100px;
  }

  nav li{
    padding-bottom: 20px;
    margin: 0;
  }

  .half{
    flex-basis: 100%;
  }

  .mainImageContainer img{
    height: 300px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .article .category{
    writing-mode: horizontal-tb;
    top: -50px;
    left: -10%;
  }

  .filterMenu{
    flex-direction: column;
    top: 40px;
    right: 0;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  h1{
    font-size: 1.5rem;
  }

  nav ul{
    top: 80px;
  }

  .mainImageContainer img {
    height: 95vw;
    object-fit: cover;
  }
}